[submodule "external/raygun4php"]
	path = external/raygun4php
	url = git@github.com:MindscapeHQ/raygun4php.git
[submodule "raygun4js"]
	path = raygun4js
	url = git@github.com:MindscapeHQ/raygun4js.git
